
 {% extends 'base.html' %}

{% block content %}
<h2>Your Cart</h2>
{% comment %} {% if cart_items %} {% endcomment %}
<ul>
    {% for item in cart_items %}
        <li>
            {{ item.product.name }} - ${{ item.product.price }} x {{ item.quantity }}
            = ${{ item.get_total_price }}
        </li>
    {% endfor %}
</ul> 

{% comment %} 

<ul>
    {% for item in cart_items %}
        <li>{{ item.product.name }} - ${{ item.product.price }} x {{ item.quantity }} = ${{ item.get_total_price }}</li>
    {% empty %}
        <p>Your cart is empty.</p>
    {% endfor %}
</ul> {% endcomment %}



<p>Total: ${{ total_price }}</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            {% comment %} <th>Actions</th> {% endcomment %}
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.get_total_price }}</td>
            {% comment %} <td>{{ item.total_price }}</td> {% endcomment %}
            <td>
                
                <form action="{% url 'remove_from_cart' item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% comment %} <h3>Total: {{ total_price }}</h3> {% endcomment %}

<h3>Total: ${{ total_price }}</h3>
{% comment %} {% else %}
    <p>Your cart is empty.</p>
    {% endif %} {% endcomment %}
{% endblock %} 

