{% extends "base.html" %}

{% load static %}


{% block title %}Male- The Wardrobe{% endblock %}


{% block content %}


<div class="container">
    <!-- Section for all clothes -->

    <h1>Male Clothes</h1>



    {% comment %} <form method="get" class="mb-4">
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort" onchange="this.form.submit()">
            <option value="name_asc" {% if sort_by == 'name_asc' %}selected{% endif %}>Name A-Z</option>
            <option value="name_desc" {% if sort_by == 'name_desc' %}selected{% endif %}>Name Z-A</option>
            <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>Price Low to High</option>
            <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>Price High to Low</option>
        </select>
    </form> {% endcomment %}



    <div class="row">
        {% for item in clothes %}
        <div class="col-md-4">
            <div class="card mb-4">
                <!-- Assuming item has an image field; otherwise, use a placeholder -->
                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">Rs  {{ item.price }}</p>

                    <button class="btn btn-primary add-to-cart" onclick="addToCart('{{ item.id }}', '{{ item.name }}', {{ item.price }})">Add to Cart</button>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Male Clothes Section -->
    
    {% comment %} <div class="row">
        {% for item in male_clothes %}
        <div class="col-md-4">
            <div class="card mb-4">
                <!-- Image for male clothes -->
                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">${{ item.price }}</p>

                    {% comment %} <button class="btn btn-primary add-to-cart" onclick="addToCart('{{ item.id }}', '{{ item.name }}', {{ item.price }})">Add to Cart</button> {% endcomment %}
{% comment %} 
                </div>
            </div>
        </div> {% endcomment %}
        {% comment %} {% endfor %}
    </div> {% endcomment %} 


</div>

{% endblock %}






