
{% extends 'base.html' %}
<!-- search.html -->
{% block content %}
    <div class="container">
        <h2>Results:</h2>
        <div class="row">
            {% for item in items %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">Rs {{ item.price }}</p>
                            <p class="card-text">Gender: {{ item.get_gender_category_display }}</p>
                            <p class="card-text">Category: {{ item.get_item_category_display }}</p>
                            
                            <button class="btn btn-primary add-to-cart" onclick="addToCart('{{ item.id }}', '{{ item.name }}', {{ item.price }})">Add to Cart</button>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p>No items found.</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% endblock %}